<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
         body{
              text-align: center;
              font-family: Arial, sans-serif;
         }
         h1{
              font-size: 50px;
              margin-top: 50px;
         }
         p{
              font-size: 20px;
              margin-top: 20px;
         }
         a{
              text-decoration: none;
              color: blue;
              font-size: 20px;
         }
   </style>
</head>
<body>
    <h1>404</h1>
    <p>Page not found</p>
    <a href="/">Go back to home </a>
</body>
</html>